*{
    padding: 0;
    margin: 0;
}
canvas {
    margin: 0;
    padding: 0;
    border: 5px solid red;
}

body{
    background-image: url("../img/backpem.jpeg"); /*backgroundgeneral*/
    background-repeat: no-repeat;
    background-size: cover;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
  .close {
    color: rgb(235, 23, 23);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* textbox */
  .textbox{
      text-align: justify;
      padding: 20px;
      margin: 5px;
  }



h1,
h2 {
    text-align: center;
    margin: 5px;
    margin-bottom: 20px;
}

.noShow{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 96vh;
    justify-content: center;
}  

button{
    margin: 5px;
    padding: 45px;
    border-radius: 15px;
    border: 1px solid black;
    background-image:url('../img/backmac.jpeg') /*imagen1*/

}

button:hover{
    /*cambiar estilo cuando se selecciona*/
    border: 1px;

    background-image:url('../img/fondorosa.jpeg') /*imagen2*/

    /*background-image: url('../img/corazonvidas.png');
    background-repeat:no-repeat;*/

    /*background-image:url('https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/add-1-icon.png');
    background-repeat:no-repeat;*/
}